<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iti.alex.intake40.team9.tripreminder">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".Views.RegisterationView" />
        <activity android:name=".Views.LoginView" />
        <activity
            android:name=".Views.SplashView"
            android:theme="@style/AppTheme.Launcher"/>


        <activity android:name=".View.ActivityDialog.MyDialogeActivity" android:theme="@style/Theme.AppCompat.Dialog.Alert"></activity>
        <activity android:name=".View.NewTripView.NewTrip" >

        </activity>

        <service
            android:name=".Models.FloatingItem"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Views.NavigationDrawerView"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

	</activity>

        <receiver
            android:name=".Presenter.NewTripPresenter.AlarmReciever"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="iti.alex.intake40.team9.AlarmReciever" />

            </intent-filter>
        </receiver>

        <service
            android:name=".Presenter.NewTripPresenter.AlarmServiceDialog"
            android:enabled="true"
            android:exported="true" />




        <service
            android:name=".Models.FloatingItem"
            android:enabled="true"
            android:exported="true"></service>

        <meta-data android:name="com.here.sdk.access_key_id" android:value="KMcfSyloALKw3axIf_r1dQ" />
        <meta-data android:name="com.here.sdk.access_key_secret" android:value="I6LRB5jrQboc7SFNqP59ZWjq5KNJ9MFQcUKXWIcOmapaobTS_dj3FS-iDbM7YDoB6Catwq-IouWTTwy6fNutvQ" />
    </application>

</manifest>